@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --primary-color: #00669A;
  --secondary-color: #19d4f8;
  --accent1-color: #CCCC00;
  --accent2-color: #ffffff;

  --heading-font: 'Rubik', serif;
  --paragraph-font: 'Nunito Sans', serif;

  --nav-background-color: #00669A;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #19D4F8;
  --nav-hover-background-color: #000000;
}


body{
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 10px;
  margin: 0 auto;
  border: solid 5px whitesmoke;
}


h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
}

header{
  padding: 20px;
  background-color: var(--accent1-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p{
  padding: 25px 0;
}


nav{
  padding: 20px;
  font-size: 1.2rem;
  display: flex;
}

nav a {
  padding: 20px;
  color: var(--nav-link-color);
  display: block;
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.hero{
  position: relative;
  height: 500px;
}

.hero h2, article{
  position: absolute;
  color: var(--accent1-color);
}

.hero > img{
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  filter: brightness(45%);
  object-fit: cover;
}

.hero h2{
  top: 20%;
  color: var(--nav-hover-link-color);
  padding: 0 5em;
}

article{
  color: var(--accent2-color);
  top: 0;
  transform: translate(0, 50%);
  padding: 0 7em;
}

article img{
  float: right;
  width: 300px;
}

section h2{
  background-color: var(--accent1-color);
  padding: 2rem;
}

footer {
  background-color: var(--nav-background-color);
  color: var(--accent2-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p{
  padding: 2rem;
}


/* contact us styles */

.employees{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 100%;
}

.employee{
  max-width: 200px;
  text-align: center;
}

.employee p,
.employee h3{
  margin: 0;
  background-color:  rgb(240, 244, 247);
  padding: 5px;
}

.employee p{
  color: #64640c;
}


.forms{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

form{
  padding: 2rem 5rem;
  border-radius: 4px;
  background-color: rgb(240, 244, 247);
}



.company{
  flex-basis: 450px;
  background-color: rgb(240, 244, 247);
  padding: 2rem 4rem;
}

.company p{
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 10px 0;
}

.company h2{
  font-size: 1.5rem;
  text-align: left !important;
}


label{
  padding: 5px 0;
  width: 100%;
}

button{
  background-color: var(--secondary-color);
  color:  var(--accent2-color);
  font-size: 1rem;
  margin: 20px auto;
}

.title{
  display: flex;
  align-items: center;
  gap: 20px;
}

input[type="checkbox"]{
  height: 20px;
  width: 20px;
}

p{
  padding: 5px;
}

.contact > *{
  text-align: left !important;
}

.contact > h1{
  font-size: 2rem;
}

footer a {
  color: white;
}

iframe{
  border: none;
  outline: none;
}

.radio, .subscribe{
  display: flex;
  padding: 0;
  margin: 0;
}

input[type="radio"]{
  width: 15px;
  padding: 0;
  margin: 0 5px;
}

textarea{
  resize: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


hr{
  margin: 50px 0;
}


/* Trips page */
.top-trips {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 20px;
}
.trip {
  flex: 0 1 30%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}
.trip img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background-color: rgb(240, 244, 247);
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: var(--nav-background-color);
  color: var(--accent2-color);
}


/* home page */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(240, 244, 247);
}

.grid-item img {
  width: 100%;
  height: auto;
}

.content {
  padding: 20px;
}

.content h3 {
  margin-top: 0;
  margin-bottom: 10px;
}


.newsletter {
  max-width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: rgb(240, 244, 247);
}

.newsletter form {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(240, 244, 247);
  border: 1px solid #b7b7b7;
}

.newsletter form input,
.newsletter form label{
  width: 88%;
}


.my-quote{
  padding: 2rem 0;
}


.my-quote img{
  width: 100%;
  height: 450px;
  object-fit: cover;
}


.call-to-action{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  max-width: 500px;
  transform: translate(-50%, -50%);
}

.call-to-action > *{
  background-color: inherit;
  text-align: left;
  color: var(--accent2-color);
}

.call-to-action > a{
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 10px 25px;
  text-align: left;
  color: var(--accent2-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
}

.call-to-action > a:hover{
  background-color: var(--accent1-color);
}

.call-to-action > h1 {
  text-transform: capitalize;
  font-size: 2rem;
}

button, 
textarea,
input[type="email"],
input[type="password"],
input[type="text"]{
  width: 100%;
  display: block;
  padding: 16px 25px;
  margin-bottom: 10px;
  margin-top: 5px;
  outline: none;
  border: none;
  border-radius: 3px;
}



form > *{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}