

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --primary-color: #00669A;
  --secondary-color: #19d4f8;
  --accent1-color: #CCCC00;
  --accent2-color: #ffffff;

  --heading-font: 'Rubik', serif;
  --paragraph-font: 'Nunito Sans', serif;

  --nav-background-color: #00669A;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #19D4F8;
  --nav-hover-background-color: #000000;
}


body{
  font-family: var(--paragraph-font);
  padding: 20px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  height: 100dvh;
}


h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  color: var(--primary-color);
  padding: 1rem 0;
}

header{
  padding: 20px;
  background-color: var(--accent1-color);
}


form{
  max-width: 600px;
  background-color: rgb(223, 222, 222);
  padding: 2rem;
  border-radius: 4px;
}

input, textarea, select{
  display: block;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  outline: none;
  border-radius: 3px;
}

label{
  padding: 20px 0;
}

input[type="submit"]{
  background-color: var(--primary-color);
  color:  var(--accent2-color);
  border-radius: 10px;
}

.title{
  display: flex;
  align-items: center;
  gap: 20px;
}

input[type="checkbox"]{
  height: 20px;
  width: 20px;
}

p{
  background-color: #000000;
  color: var(--accent1-color);
  padding: 5px;
  text-align: center;
}